@import "tailwindcss";

@theme {
  --color-primary: #033f63;
  --color-secondary: #28666e;
  --color-accent: #7c9885;
  --color-highlight: #b5b682;
  --color-cta: #fedc97;
  --color-success: #22C55E;
  --color-background: #F5F7FA;
  --color-text: #1F2937;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
  --color-gray-800: #1F2937;
  --color-gray-900: #111827;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Outfit', sans-serif;
}
